<style>
DIV.table
{
    display:table;
}
DIV.tr
{
    display:table-row;
}
FORM.td, SPAN.td
{
    display:table-cell;
    padding:3px;
}
</style>

<h1>Cards</h1>

<form method="post" action="/cards/create">
    <input type="text" name="description">
    <button type="submit">Create</button>
</form>

<div class="table">
    <div class="tr">
        <span class="td">ID</span>
        <span class="td">Description</span>
    </div>
    {{#each cards}}
    <div class="tr">
        <span class="td">{{id}}</span>
        <span class="td">{{description}}</span>
        <form class="td" method="post" action="/cards/{{id}}/update">
            <input type="text" name="description"/>
            <button type="submit">Update</button>
        </form>
        <form class="td" method="post" action="/cards/{{id}}/delete">
            <button type="submit">Delete</button>
        </form>
    </div>
    {{/each}}
</div>

